* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    display: block; /* used javascript for resizing */
    position: relative;
    overflow: hidden;
}

.banner img {
    position: absolute;
    height: 100%;
    width: 100%;
}
.frame { 
    opacity: 1; 
    transform: scale(1.0); 
}
.frame1 , .frame1Png {
    z-index: 5;
    animation: frame1Transition 12s infinite;
}

.frame2 , .frame2Png {
    z-index: 4;
    animation: frame2Transition 12s infinite;
}

.frame3 , .frame3Png {
    z-index: 3;
    animation: frame3Transition 12s infinite;
}

.frame4 {
    z-index: 2;
    animation: frame4Transition 12s infinite;
}

.bannerFooter {
    bottom: 10px;
    z-index: 5;
}
@keyframes frame1Transition {
    0%, 25% { transform: scale(1.0); opacity: 1; }
    28%, 100% { transform: scale(1.2); opacity: 0; }
}
@keyframes frame2Transition {
    0%, 50% { transform: scale(1.0); opacity: 1; }
    54%, 100% { transform: scale(1.2); opacity: 0; }
}
@keyframes frame3Transition {
    0%, 75% { transform: scale(1.0); opacity: 1; }
    79%, 100% { transform: scale(1.2); opacity: 0; }
}
@keyframes frame4Transition {
    0%, 100% { transform: scale(1.0); opacity: 1; }
}

