* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.banner > img {
    position: absolute;
    height: 100%;
    width: 100%;
}

.frame {
    opacity: 1;
    transform: scale(1);
    height: 100%;
    width: 100%;
}

.frame1{
    z-index: 4;
    animation: frame1Transition 12s infinite;
}
.frame1Png {
    z-index: 6;
    animation: frame1Transition 12s infinite;
}

.frame2 {
    z-index: 3;
    animation: frame2Transition 12s infinite;
} 
.frame2png{
    z-index: 6;
    opacity: 0;
    animation: frame2Transition 12s infinite;

}

.frame3{
    z-index: 2;
    animation: frame3Transition 12s infinite;
}
.frame3png {
    z-index: 6;
    opacity: 0;
    animation: frame3Transition 12s infinite;
    
}

.frame4 {
    z-index: 1;
    animation: frame4Transition 12s infinite;
}

.bigBangPng {
    position: absolute;
    top: 18%;
    left: 0%;
    transform: translateX(-50%);
    z-index: 5;
    width: 40%; 
    height: auto; 
    animation: bigBangPngZoomAnimation 12s infinite;
}

.burgerPrice {
    position: absolute;
    top: 37%;
    left: 20%;
    transform: translateX(-50%);
    width: 35%; 
    height: auto; 
    animation: priceAnimation 12s infinite;
    z-index: 5;
}

.bannerFooter {
    position: absolute;
    bottom: 10px;
    z-index: 5;
}

.chickenPaprikaLayer{
    position: absolute;
    top: 68%;
    left: 45%;
    transform: translateX(-50%);
    width: 35%; 
    height: auto; 
    opacity: 1;
    animation: chickenPaprikaLayerAnimation 12s infinite;

    z-index: 6;
}

.doubleCheesburgerLayer{
    position: absolute;
    top: 68%;
    left: 45%;
    transform: translateX(-50%);
    width: 35%; 
    height: auto; 
    opacity: 0;
    animation: doubleCheesburgerLayerAnimation 12s infinite;

    z-index: 6;
}

.filetOfFishLayer{
    position: absolute;
    top: 68%;
    left: 45%;
    transform: translateX(-50%);
    width: 35%; 
    height: auto; 
    opacity: 0;
    animation: filetOfFishLayerAnimation 12s infinite ;

    z-index: 6;
}


@keyframes frame1Transition {
    0%, 25% { transform: scale(1); opacity: 1; }
    28%, 100% { transform: scale(1.2); opacity: 0; }
}

@keyframes frame2Transition {
    0%,25%{ transform: scale(1.1); opacity: 0;}
    28%, 47% { transform: scale(1); opacity: 1; }
    54%, 100% { transform: scale(1.2); opacity: 0; }
}

@keyframes frame3Transition {
    0% , 48%{transform: scale(1.0); opacity: 0;}
    50%, 75% { transform: scale(1); opacity: 1; }
    79%, 100% { transform: scale(1.2); opacity: 0; }
}

@keyframes frame4Transition {
    0%, 100% { transform: scale(1); opacity: 1; }
}

@keyframes bigBangPngZoomAnimation {
    0%, 25% { transform: scale(1); opacity: 1; }
    27%, 30% { transform: scale(1.1); opacity: 1; }
    30%, 48% { transform: scale(1); opacity: 1;}
    49%, 53% { transform: scale(1.1); opacity: 1;}
    53%, 75% { transform: scale(1); opacity: 1;}
    77%, 100% { transform: scale(1.1); opacity: 0;}
}
@keyframes priceAnimation {
    0% , 75%{opacity: 1;}
    77% , 100%{opacity: 0;}
}
@keyframes chickenPaprikaLayerAnimation {
    0% , 6% {opacity: 0; transform: translateY(10px);}
    8% , 25% {opacity: 1;transform: translateY(0px);}
    27% , 100% {opacity: 0;}
}
@keyframes doubleCheesburgerLayerAnimation {
    0% , 33% {opacity: 0; transform: translateY(10px);}
    35% , 49% {opacity: 1;transform: translateY(0px);}
    50% , 100% {opacity: 0;}
}
@keyframes filetOfFishLayerAnimation {
    0% , 57% {opacity: 0; transform: translateY(10px);}
    59% , 75% {opacity: 1;transform: translateY(0px);}
    77% , 100% {opacity: 0;}
}